<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ Algebra</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1 {
            font-family: "Raleway", Arial, sans-serif;
            h1 {letter-spacing: 6px}
            .w3-row-padding img {margin-bottom: 12px}
        }
        .login_button {
            font-family: "Raleway", Arial, sans-serif;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    </style>
</head>
<body>
    <div class="w3-content" style="max-width:1500px">
        <div class="w3-bar w3-light-grey">
            <a href="/login" class="w3-bar-item w3-button">Logged in as: {{usr}}</a>
            <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
          </div>
        <header class="w3-panel w3-center w3-opacity" style="padding: 128px 16px">
            <h1 class="w3-xlarge">Welcome to</h1>
            <h1>EZ Algebra!</h1>
            <h1 class="w3-large">I created this site to help my Math students practice questions while they are at home. Major topics include Algebra, Geometry, and Mathematical Reasoning. Click on one of the links below to get started!</h1>
            <div class="w3-padding-32">
                <div class="w3-bar w3-border">
                    <a href="/Single_Topic_Practice" class="w3-bar-item w3-button">Single Topic Practice</a>
                    <a href="/Random_Practice" class="w3-bar-item w3-button">Random Practice</a>
                    <a href="/Mixed_HW" class="w3-bar-item w3-button">HW Generator</a>
                    <a href="/Guided_Practice" class="w3-bar-item w3-button">Guided Practice</a>
                </div>
            </div>
        </header>
        <footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-large">
            <p>Created for CPSC 491 by Gabriel Rodela</p>
            <p>Go to <a href="/" class="w3-hover-text-green">Home</a></p>
        </footer>
    </div>
</body>
</html>
